h1 {
  color: #ddeded;
  text-align: center;
  background-color: #e91e63;
}
body{
  background-color: #303030;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  width: 450px;
  height: 450px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #0c0909f3;
  outline-color: #e91e63;
  color: #ddeded;
}

form input {
  padding: 3px 10px;
  border: 1px solid #0a0808;
  border-radius: 3px;
  margin: 8px 10px;
  display: inline-block;
  border: solid thin #ddeded;
}

button {
  text-align: center;
  font-weight: bold;
  border: solid thin #070808;
}
